* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none; /* Removes Underline */
}

.info-container {
    display: flex;
    justify-content: center;
    
}

/* ======= Navigation Bar ======= */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}

/* Group of Links */
/* .navbar  ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none; 
}



.navbar li a svg {
    margin-right: 5px;
} */

.nav-button {
    color: white;
    padding: 1rem;
    display: block;
    font-size: 20px;
}

.nav-button svg {
    margin-right: 5px;
}

.nav-button:hover .svg-fill {
    text-decoration: underline;
    opacity: 1;
}

.nav-button:hover .svg-empty {
    opacity: 0;
}

.svg-empty {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.active .svg-fill {
    text-decoration: underline;
    opacity: 1;
}

.active .svg-empty {
    opacity: 0;
}


.svg-nav {
    display: flex;
}

.svg-container {
    position: relative;
    display: flex;
}

.svg-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.active .nav-text {
    text-decoration: underline;
}


/* ======= Side-Card Style ======= */

.sidecard {
    width: 345px;
    height: 1000px;
    color: #23252C;

    margin-top: 10px;
    margin-left: 25px;
    margin-right: 15px;
    /* background-color: #23252c; */
    border-radius: 25px;
    position: relative;

    /* Glass Effect */
    background-color: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-Left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0; /* Prevents Shrinking */
    
}

.sidecard--image {
    width: 310px;
    height: 362px;
    border-radius: 25px;
    margin-top: 17.5px;
    margin-bottom: 5px; 
}

.sidecard--name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin: 3px;
}

h3 {
    color: #f3bf99
}

.sidecard--buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sidecard--button-email {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: black;
    width: 125px;
    height: 31px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.sidecard--button-email:hover {
    background-color: #d4d4d4;
}

.sidecard--button-email > svg, .sidecard--button-github > svg {
    margin-right: 5px;
}

.sidecard--button-github {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
    width: 125px;
    height: 31px;
    background-color: #297FE5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidecard--button-github:hover {
    background-color: #4996f2;
}

.sidecard--about, .sidecard--interests {
    margin-top: 0;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidecard--about > h1 {
    text-align: left;
    margin-bottom: 0;
}

.sidecard--about > p {
    text-align: left;
    margin-top: 0;
}

.sidecard--interests > h1 {
    text-align: left;
    margin-bottom: 0;
}

.sidecard--interests > p {
    text-align: left;
    margin-top: 0;
}

.sidecard-footer-social-icons {
    width: 345px;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidecard-footer-social-icons svg:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/* ======= Card Styles ======= */

.card-container {
    margin-top: 10px; /* Same as Sidecard */
    border-radius: 25px;
    width: 1000px;
    height: 1000px;

    /* Glass Effect */
    background-color: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3)
    );
    

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-Left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

/* ======= Resume Card Style ======= */

.card-resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .resume-document {
    display: flex;
    justify-items: center;
    align-items: center;
} */

/* .resume-page-container svg {
    border-radius: 25px;
    
}

.resume-document svg {
    border-radius: 25px;
} */

.react-pdf__Page__svg {
    border-radius: 25px;
}




